.header-logo {
  font-family: 'Handjet-Regular', monospace;
  font-size: 42px;
  color: var(--color-orange);
  font-weight: bold;
  margin: 24px 0;
}

nav {
  color: var(--color-orange);
  font-size: 20px;
  display: flex;
  gap: 42px;
  a:hover {
    cursor: pointer;
    color: var(--color-blue);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 64px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

.header-right {
  color: var(--color-orange);
  font-size: 16px;
}
