.header-logo {
  font-family: 'Handjet-Regular', monospace;
  font-size: 58px;
  color: var(--color-orange);
  font-weight: bold;
  margin: 12px 0;
  margin-right: 16px;
}

nav {
  color: var(--color-orange);
  font-size: 20px;
  display: flex;
  gap: 42px;
  a {
    text-decoration: none;
    color: var(--color-orange);
  }
  a:hover {
    cursor: pointer;
    color: var(--color-blue);
  }
}

.header {
  position: fixed; /* bleibt oben kleben */
  width: 100%;
  max-width: 1440px;
  height: 80px; /* gleiche Höhe wie bisher */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: transparent; /* halbtransparent, passe Farbe an */
  backdrop-filter: blur(6px); /* leichter Blur hinter dem Header */
  z-index: 1000; /* über allem */
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

.header-right {
  color: var(--color-orange);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  p:hover {
    cursor: pointer;
    color: var(--color-blue);
  }
}

.active {
  color: var(--color-blue);
}
