<div class="header">
  <div class="header-left">
    <p class="header-logo">&lt; NV &gt;</p>
    <nav>
 <a routerLink="./" fragment="why-me">{{ 'nav.whyMe' | translate }}</a>
  <a routerLink="./" fragment="skills">{{ 'nav.skills' | translate }}</a>
  <a routerLink="./" fragment="projects">{{ 'nav.projects' | translate }}</a>
  <a routerLink="./" fragment="contact">{{ 'nav.contact' | translate }}</a>
    </nav>
  </div>
  <div class="header-right">
   <p 
      [class.active]="current === 'de'" 
      (click)="switchLang('de')" id="lang-de">DE</p> | 
    <p 
      [class.active]="current === 'en'" 
      (click)="switchLang('en')" id="lang-en">EN</p>
  </div>
</div>
