<div class="footer">
  <div class="logo-wrapper">
    <a href="#hero" class="logo">&lt; NV &gt;</a>
    <p class="logo-text">{{ 'footer.role' | translate }}</p>
  </div>

  <div class="footer-text">
    <p class="name">© Noah Velickovic 2025</p>
    <p>
      <a href="/legal-notice" class="footer-link">{{ 'footer.legal' | translate }}</a>
      <a href="/privacy" class="footer-link">{{ 'footer.privacy' | translate }}</a>
    </p>
  </div>
<div class="icons">
  <a href="https://github.com/NoahVelickovic" target="_blank">
    <img src="/assets/Github Icon Hover.png" alt="GitHub" />
    <img src="/assets/Github Icon.png" alt="GitHub Hover" />
  </a>
  <a href="mailto:noah.velic@hotmail.com">
    <img src="/assets/Mail Icon Hover.png" alt="Mail" />
    <img src="/assets/Mail Icon.png" alt="Mail Hover" />
  </a>
  <a href="https://www.linkedin.com/in/noah-velickovic-6a62821aa/" target="_blank">
    <img src="/assets/Linked in Icon Hover.png" alt="LinkedIn" />
    <img src="/assets/Linked in Icon.png" alt="LinkedIn Hover" />
  </a>
</div>
</div>
