<div class="footer">
  <div class="logo-wrapper">
    <p class="logo">&lt; NV &gt;</p>
    <p class="logo-text">Frontend Developer</p>
  </div>
  <div class="footer-text">
    <p class="name">© Noah Velickovic 2025</p>
    <p>
      <a href="/legal-notice" target="_blank">Legal Notice</a>
      <a href="/privacy" target="_blank">Privacy Policy</a>
    </p>
  </div>
  <div class="icons">
    <a href=""><img src="/assets/Github Icon Hover.png" /></a>
    <a href=""><img src="/assets/Mail Icon Hover.png" /></a>
    <a href=""><img src="/assets/Linked in Icon Hover.png" /></a>
  </div>
</div>
