.imprint-page {
  display: flex;
  flex-direction: column;
}

.impressum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 24px;
  gap: 1rem;
  color: var(--color-blue);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--color-orange);

  &:hover {
    color: var(--color-blue);
  }
}

.arrow {
  display: block;
  margin-top: 100px;
  background: url('/assets/Arrow up.png');
  height: 80px;
  width: 40px;
  transform: rotate(-90deg);
  margin-left: 124px;
  background-repeat: no-repeat;
  &:hover {
    display: block;
    cursor: pointer;
    background: url('/assets/Arrow up Hover.png');
    background-repeat: no-repeat;
    margin-top: 108px;
    margin-left: 115px;
  }
}

.spacer {
  height: 120px;
}