.skills {
  padding-top: 80px;
}

h3 {
  font-size: 42px;
  color: var(--color-orange);
  margin-left: 24px;
  margin-top: 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-items: center;
  margin: 24px;
  height: 400px;
  column-gap: 90px;
  row-gap: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.skills-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.flex {
  display: flex;
  align-items: center;
  width: 300px;
}

p {
  margin-left: 12px;
  font-size: 18px;
  color: var(--color-blue);
}

.material-design img {
  height: 100px;
}

.skill-box p {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.skill-box:hover p {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1000px) {

#skills {
  height: auto;
}

.skills-container {
  height: auto;
}

 h3 {
  text-align: center;
  margin-left: 0;
 }

 .skill-box {
  display: flex;
  justify-content: center;
 }

 img {
  height: 90px;
 }

 p {
  display: none !important;
 }

 .flex {
  width: auto;
 }
}

@media (max-width: 450px) {
h3 {
  font-size: 32px !important;
}
}